body {
  height: 4000px;

}


.lol{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.navbar-brand {
  font-family: 'Lusitana', serif;
}

.nav-item {
  font-family: 'Lusitana', serif;
}

.contenitore {
  position: relative;
}

.testo {
  font-size: 20px;
  font-family: 'Elsie', serif;
  position: absolute;
  left: 13%;
  top: 29%;
  color: #ffffff;
  padding: 20px;
}

.testodue {
  font-size: 20px;
  font-family: 'Elsie', serif;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  margin-top: 80px;
}

.testotre {
  font-size: 40px;
  font-family: 'Elsie', serif;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  
}

.videouno {
  margin-top: 30px;
  margin-left: 150px;
}

.videodue {
  margin-top: 30px;
  margin-left: 130px;
}

.videotre {
  margin-top: 30px;
  margin-left: 130px;
}