body {
  background-image: url('pianoforte.jpg');
  background-size: 100%;
}


  #pianoforte1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .puno {
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #000000;
  }

  .pdue {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #000000;
  }


 .custom-bg .navbar-nav .nav-link {
  color: #ffffff;
 }

 .custom-bg .navbar-brand {
  font-family: 'Merriweather', serif;
  font-size: 30px;
 }